*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 90%;
    height: 650px;
    margin: auto;
    position: relative;
}
.form{
    padding: 10px;
    position: absolute;
    width: 80%;
    height: 300px;
    left: 10%;
    top: 100px;
    display: none;
}
